h1 {
/* color: rgb(231, 142, 83);
background-color: rgb(187, 236, 200);  */
text-align: center;

}

img {
width: 100%;
}

p {
    font-family: "Roboto", sans-serif;
}

#chapeau {

    font-size: large;
}

.rouge{
    color: crimson;
}

.vert{
    color: rgb(82, 194, 132);
}
